<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePattern_MVIMG" value="*MVIMG_*.jpg"/>
    <add key="FilePattern_PXL_MP" value="PXL_*.MP.jpg"/>
    <add key="Mp4Header_iso6_mp42iso6avc1isom"  value="00 00 00 20 66 74 79 70 69 73 6F 36 00 00 00 01 6D 70 34 32 69 73 6F 36 61 76 63 31 69 73 6F 6D"/>
    <add key="Mp4Header_mp42_isommp42"          value="00 00 00 18 66 74 79 70 6D 70 34 32"/>
    <add key="Mp4Header_mp42_isommp41"          value="00 00 00 1C 66 74 79 70 69 73 6F 6D"/>
    <add key="Mp4Header_ftyp"                   value="00 00 00 1C 66 74 79 70"/>
  </appSettings>
</configuration>